{% extends 'index.html' %}
{%block title%}404{% endblock %}
{% block content %}


<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body{
background-color:black;
}

p#type-in {
	margin:0;
	font-size:2em;
	line-height:100%;
	min-height:1em;
	padding:3px;
	border-right:3px solid #555;
}
p#type-after {
	margin:0;
	font-size:1em;
	line-height:100%;
	min-height:1em;
	padding:3px;
	border-right:3px solid #222;
	/* Adds flicker animation of the border to make it look like a typer */
	animation: flicker 1s linear 1s infinite;
}
/* Fickeranimation idles between foreground and background with 5% transition time */
@keyframes flicker {
		0%	{border-right-color: #555;}
    40%	{border-right-color: #555;}
    50%	{border-right-color: #222;}
    90%	{border-right-color: #222;}
    100%{border-right-color: #555;}
}

.back {
	position:absolute;
	top:0;
	left:0;
	margin:.5em;
	border-bottom:2px solid #222;
	transition:border .3s;
	cursor:pointer;
}
.back:hover {
	border-bottom:2px solid #555;
}
a {
	color:inherit;
	text-decoration:inherit;
}
::selection {
	background-color:rgba(0,0,0,0.2)
}


.links:hover{
    text-decoration:overline;
    color:cyan;
}
</style>

<div class="row mx-auto w-50" style="font-family: 'Roboto Mono', monospace; color:yellow; margin-top:13rem">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <p id="type-in">Error 404</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p id="type-after">Page you are looking for does not exists.</p>
            </div>
        </div>
        <div class="row mt-5 w-75 mx-auto" style="border:1px dashed yellow; padding:10px" id="404_links">
            <div class="col text-center">
                <div class="row">
                    <div class="col text-end">
                        <a href="{{url_for('index')}}" class="links">HOME</a>
                    </div>
                    <div class="col text-start">
                        <a type="button" onclick="history.back();" class="links">GO BACK</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script>
window.onload = function() {
	// finds #type-in
	var paragraph = document.getElementById("type-in");
	var supparagraph = document.getElementById("type-after");
	// saves its content
	var text = paragraph.innerHTML;
	var textafter = supparagraph.innerHTML;
	// clears content
	paragraph.innerHTML = "";
	supparagraph.innerHTML = "";

	// for each letter in its content
	for (var i = 0, len = text.length; i < len; i++) {
		(function(i) {
			window.setTimeout(function() {
				// adds the letter
				paragraph.innerHTML += text[i];
				// waits 0.1s
			}, i * 100);
		})(i);
	}
	window.setTimeout(function() {
		paragraph.style.borderRight = "3px solid #222";
		supparagraph.style.borderRight = "3px solid #555";
		for (var i = 0, len = textafter.length; i < len; i++) {
			(function(i) {
				window.setTimeout(function() {
					// adds the letter
					supparagraph.innerHTML += textafter[i];
					// waits 0.1s
				}, i * 100);
			})(i);
		}
	}, text.length*100+200);
};



$("#404_links").hide();
setTimeout(function(){
	$("#404_links").fadeIn();
},5000);
</script>
{% endblock %}