{% extends 'skel.html' %}

{% block content %}

<style>
    body{
        background-image: url('{{url_for('static', filename='images/user_login_bg.jpg')}}');
    }

</style>

<link rel="stylesheet" href="{{url_for('static', filename='css/user_login.css')}}">
{%- for category, message in get_flashed_messages(with_categories = true) %}
{%if category== 'error'%}
<div class="alert bg-danger alert-dismissible fade show text-white" role="alert" id="alert_danger">

    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert bg-info alert-dismissible fade show text-dark" role="alert" id="alert_success">

    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
<div class="login-container">

    <div class="login-box">
        <h1>Create New Password</h1>
        <!--        <input type="email" placeholder="Email" class="login-input" required>-->
        <form action="{{url_for('password_reset')}}" method="post">

            <input placeholder="New Password" type="password" name="new_password" class="login-input" required>
            <input type="password" placeholder="Confirm Password" name="confirm_password" class="login-input" required>
            <input type="text" value="{{user}}" name="user" hidden>
            <button class="login-button">Change Password</button>

        </form>

        <div class="row mt-2">
            <hr style="color:white; background:white">
            <div class="col">
                <p style="color: #adadad">New to Torflix? <span style="font-size:bold; color:white; cursor:pointer"
                                                                onclick="location.href='{{url_for('register_user')}}'">Sign up now.</span>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}