<div id="dslider_for_mobile" class="dslider">
    <div class="dtitle row">
        <div class="col">
            <h6>G-Download in Progress</h6>
        </div>
        <div class="col">
            <span id="dcloseSlider_for_mobile" class="fas fa-times"></span>
        </div>


    </div>
    {% if not downloading %}

    <div class="container" style="display:flex; align-items:center; justify-content:center; color:white; height:80vh;">
        Its Empty Here !
    </div>
    {% else %}
    <div class="dslider-content content2 mb-5" style=" display:inline-block">


        {% for dmovie in downloading %}
        <div class="movie-cards" style="color:white"
             onclick="checkifexists(torrent_id={{dmovie['torrentId']}}, magnet_link='{{dmovie['magnetLink']}}')"
             data-bs-toggle="modal" data-bs-target="#dmodal{{dmovie['torrentId']}}">
            {% if dmovie['thumbnail'] == None %}


            <div class="card-image"
                 style="background-image: url('{{dmovie['ss'][0]}}'); background-size:contain;"
                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                 title="{{dmovie['name']}}">

                <div class="head"
                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                    <div class="seeders" style="display: flex; align-items:center">
                        <div>
                            <img src="{{url_for('static', filename= 'images/seeders.png')}}" height="15px"
                                 alt="Seeders"
                                 style="filter:invert(1)"
                                 srcset="">
                        </div>
                        <div style="font-size:13px; margin-left:4px">
                            {{dmovie['seeders']}}
                        </div>
                    </div>
                    <div class="size" style="display: flex; align-items:center">
                        <div>
                            <img src="{{url_for('static', filename= 'images/size.png')}}" height="15px"
                                 alt="Seeders"
                                 style="filter:invert(1)"
                                 srcset="">
                        </div>
                        <div style="font-size:13px; margin-left:4px">
                            {{dmovie['size']}}
                        </div>
                    </div>
                </div>


                <div class="card-bottom">
                    {{dmovie['name']}}
                </div>
            </div>
            {% else %}

            <div class="card-image" style="background-image: url('{{dmovie['thumbnail']}}')"
                 title="{{dmovie['name']}}">
                <div class="head"
                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                    <div class="seeders" style="display: flex; align-items:center">
                        <div>
                            <img src="{{url_for('static', filename= 'images/seeders.png')}}" height="15px"
                                 alt="Seeders"
                                 style="filter:invert(1)"
                                 srcset="">
                        </div>
                        <div style="font-size:13px; margin-left:4px">
                            {{dmovie['seeders']}}
                        </div>
                    </div>
                    <div class="size" style="display: flex; align-items:center">
                        <div>
                            <img src="{{url_for('static', filename= 'images/size.png')}}" height="15px"
                                 alt="Seeders"
                                 style="filter:invert(1)"
                                 srcset="">
                        </div>
                        <div style="font-size:13px; margin-left:4px">
                            {{dmovie['size']}}
                        </div>
                    </div>
                </div>

                <div class="card-bottom" style="">
                    {{dmovie['name']}}
                </div>
            </div>
            {% endif %}

        </div>


        {% endfor %}


    </div>
    {% endif %}
</div>


{% for dmovie in downloading %}

<!-- Modal content -->
<div class="modal fade" id="dmodal{{dmovie['torrentId']}}" tabindex="-1"

     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="border: 2px solid #0d6b80; background:black;">


            <div class="modal-header text-white" style="background:#031923;">
                <h4 class="modal-title">{{ dmovie['name'] }}</h4>
                <button type="button" class="btn-close bg-white" style="color:white"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">


                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">


                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{dmovie['images'][0]}}"
                                 onerror="this.onerror=null; this.src='{{url_for('static', filename= 'images/altimage.png')}}'"
                                 class="d-block w-100" alt="Slide 1">
                        </div>
                        {%if dmovie['images'] %}
                        {% for ss in dmovie['images'] %}
                        <div class="carousel-item">
                            <img src="{{ss}}"
                                 onerror="this.onerror=null; this.src='{{url_for('static', filename= 'images/altimage.png')}}'"
                                 class="d-block w-100" alt="Slide 2">
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button"
                       data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button"
                       data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- End of Carousel -->
                <div class="container torrent-model-name-title">
                    <h5>{{dmovie['name']}}</h5>
                </div>

                <div class="container torrent-details mt-4">
                    <div class="card text-center bg-danger mt-2">
                        <div class="card-header bg-danger">
                            Category
                        </div>

                        <div class="card-body">
                            {{ dmovie["category"] }}
                        </div>

                    </div>
                    <div class="card text-center bg-success mt-2">
                        <div class="card-header bg-success">
                            Type
                        </div>

                        <div class="card-body">
                            {{ dmovie["type"] }}
                        </div>

                    </div>
                    <div class="card text-center bg-primary mt-2">
                        <div class="card-header bg-primary">
                            Language
                        </div>

                        <div class="card-body">
                            {{ dmovie["language"] }}
                        </div>

                    </div>
                    {% if not dmovie['genre'] == None %}
                    <div class="card text-center mt-2" style="background: var(--bs-pink);">
                        <div class="card-header" style="background: var(--bs-pink);">
                            Genre
                        </div>

                        <div class="card-body">

                            {% for genre in dmovie['genre'] %}<span style="cursor:pointer"
                                                                   class="badge bg-light text-dark ms-2"
                                                                   onclick="location.href='{{url_for('badge_torrents', badge= genre)}}'">{{ genre }}</span>
                            {% endfor %}

                        </div>

                    </div>
                    {% endif %}

                </div>


                <div class="w-100 torrent-info mt-4 p-0">
                    <div class="card text-center bg-danger mt-2 flex-fill">
                        <div class="card-header bg-danger">
                            Size
                        </div>

                        <div class="card-body">
                            {{ dmovie["size"] }}
                        </div>

                    </div>
                    <div class="card text-center bg-success mt-2 flex-fill">
                        <div class="card-header bg-success">
                            Seeders
                        </div>

                        <div class="card-body">
                            {{ dmovie["seeders"] }}
                        </div>

                    </div>
                    <div class="card text-center bg-primary mt-2 flex-fill">
                        <div class="card-header bg-primary">
                            Leechers
                        </div>

                        <div class="card-body">
                            {{ dmovie["leechers"] }}
                        </div>

                    </div>


                </div>

                {% if not dmovie['description'] == None %}
                <!-- Accordion Section -->
                <div id="accordiondslider{{dmovie['torrentId']}}" class="accordion mt-4 bg-dark">

                    <div class="accordion-item" style="border: none; box-shadow: 0px 0px 15px 0px cyan;">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-white" style="background:#00b3ff;"
                                    type="button" data-bs-toggle="collapse"
                                    data-bs-target="#dslidercollapse{{dmovie['torrentId']}}" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                Description
                            </button>
                        </h2>
                        <div id="dslidercollapse{{dmovie['torrentId']}}" class="accordion-collapse collapse"
                             aria-labelledby="headingTwo"
                             data-bs-parent="#accordiondslider{{dmovie['torrentId']}}">
                            <div class="accordion-body" style="background:#031923">
                                {{dmovie['description']}}
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>


            <div class="modal-footer" style="display:block">
                {% if session.username %}

                <div class="download_container" title="dslider footer">
                    <div class="btn-toolbar w-100 d-flex" role="toolbar">
                        <div class="btn-group d-flex w-100 " role="group">
                            <button type="button" class="btn btn-danger flex-fill"
                                    id="checkingdslider{{dmovie['torrentId']}}">Fetching Data
                                <svg class="ms-2" style="position:absolute;filter:invert(1)" width="24" height="24"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <style>
                                        .spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}
                                    </style>
                                    <path class="spinner_0XTQ"
                                          d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/>
                                </svg>
                            </button>
                            <span class="download_progress"
                                  style="background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif)"
                                  id="download_progressdslider{{dmovie['torrentId']}}"></span>
                            <button type="button"
                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; "
                                    class="btn btn-success flex-fill"
                                    id="download_btn_divdslider{{dmovie['torrentId']}}"
                                    onclick="location.href='{{url_for('download_torrents', magnet_link = dmovie['magnetLink'], torrent_id = dmovie['torrentId'], torrent_category = dmovie['category'])}}'; $('#download_btndslider{{dmovie['torrentId']}}').html(`<svg class='ms-2' style='filter:invert(1)' width='24' height='24'
                                     viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                                    <style>
                                        .spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}
                                    </style>
                                    <path class='spinner_0XTQ'
                                          d='M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z'/>
                                </svg>`);">
                                        <span id="download_btndslider{{dmovie['torrentId']}}"
                                              style="z-index: 2; position: relative;">Download</span>
                            </button>

                            <button type="button" class="btn btn-danger ms-3" title="Cancel and delete torrent"
                                    id="cancel_btn_divdslider{{dmovie['torrentId']}}"
                                    onclick="location.href='{{url_for('cancel_download', torrent_id = dmovie['torrentId'])}}'">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>

                            <button id="watch_btndslider{{dmovie['torrentId']}}" type="button"
                                    class="btn btn-primary flex-fill"
                                    onclick="location.href='{{url_for('global_downloads')}}'">
                                Go To G-Downloads/MyList Section or Click Me to Redirect
                            </button>

                        </div>

                    </div>
                </div>


                {% else %}
                <div class="btn-group d-flex w-100" role="group">
                    <button type="button"
                            style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 100%;"
                            class="btn btn-danger flex-fill"
                            onclick="location.href='{{url_for('user_login')}}';">
                        <span>Login Required To Download/Watch</span>
                    </button>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endfor %}