{% extends 'skel.html' %}
{% block content %}

<div class="container mt-5 text-white">
    <h2 class="text-center">Users Information</h2>
    <div class="table-responsive mt-3" style="box-shadow: 0px 0px 15px 0px cyan">
        <table class="table table-bordered table-dark table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Content Consumed</th>
            </tr>
            </thead>
            <tbody>
            {% for user in get_users %}
            <tr>
                <td>{{user.email}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#content{{user.id}}">
                        Show Content
                    </button>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% for user in get_users %}
        <!-- Modal -->
        <div class="modal fade" id="content{{user.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="background:#031923">
                        <h5 class="modal-title" id="exampleModalLabel">Content <strong>'{{ user.email }}'</strong> have watched
                            recently</h5>
                        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="user_content" style="background: black">
                        <div class="content" id="content" style="justify-content: space-evenly;">

                            {% for this_user in final_list %}
                            {% if this_user['user_id'] == user.id %}
                                {% if not this_user['movie_list']|length < 1 %}
                                    {% if this_user['movie_list']['Movies'] %}

                                    <div class="container p-3">
                                        <h5 class="text-center related-content" style="position:inherit">Movies</h5>


                                        {% for movie in this_user["movie_list"]['Movies'] %}

                                        <div class="movie-cards" style="color:white;"
                                             onclick="checkifexists(torrent_id={{movie['torrentId']}}, magnet_link='{{movie['magnetLink']}}')"
                                             data-bs-toggle="modal" data-bs-target="#index{{movie['torrentId']}}">
                                            {% if movie['thumbnail'] == None %}


                                            <div class="card-image thumb text-white"
                                                 style="background-image: url('{{movie['images'][0]}}'); background-size:contain;"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                                 title="{{movie['name']}}">

                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="card-bottom">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% else %}

                                            <div class="card-image" style="background-image: url('{{movie['thumbnail']}}')"
                                                 title="{{movie['name']}}"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                            >
                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-bottom" style="">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                        {% endfor %}


                                    </div>
                                    {% endif%}

                                    {% if this_user['movie_list']['TV'] %}

                                    <div class="container p-3">
                                        <h5 class="text-center related-content" style="position:inherit">TV Shows</h5>


                                        {% for movie in this_user["movie_list"]['TV'] %}

                                        <div class="movie-cards" style="color:white;"
                                             onclick="checkifexists(torrent_id={{movie['torrentId']}}, magnet_link='{{movie['magnetLink']}}')"
                                             data-bs-toggle="modal" data-bs-target="#index{{movie['torrentId']}}">
                                            {% if movie['thumbnail'] == None %}


                                            <div class="card-image thumb text-white"
                                                 style="background-image: url('{{movie['images'][0]}}'); background-size:contain;"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                                 title="{{movie['name']}}">

                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="card-bottom">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% else %}

                                            <div class="card-image" style="background-image: url('{{movie['thumbnail']}}')"
                                                 title="{{movie['name']}}"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                            >
                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-bottom" style="">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                        {% endfor %}


                                    </div>
                                    {% endif%}

                                    {% if this_user['movie_list']['Anime'] %}

                                    <div class="container p-3">
                                        <h5 class="text-center related-content" style="position:inherit">Anime</h5>


                                        {% for movie in this_user["movie_list"]['Anime'] %}

                                        <div class="movie-cards" style="color:white;"
                                             onclick="checkifexists(torrent_id={{movie['torrentId']}}, magnet_link='{{movie['magnetLink']}}')"
                                             data-bs-toggle="modal" data-bs-target="#index{{movie['torrentId']}}">
                                            {% if movie['thumbnail'] == None %}


                                            <div class="card-image thumb text-white"
                                                 style="background-image: url('{{movie['images'][0]}}'); background-size:contain;"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                                 title="{{movie['name']}}">

                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="card-bottom">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% else %}

                                            <div class="card-image" style="background-image: url('{{movie['thumbnail']}}')"
                                                 title="{{movie['name']}}"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                            >
                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-bottom" style="">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                        {% endfor %}


                                    </div>
                                    {% endif%}

                                    {% if this_user['movie_list']['Documentaries'] %}

                                    <div class="container p-3">
                                        <h5 class="text-center related-content" style="position:inherit">Documentaries</h5>


                                        {% for movie in this_user["movie_list"]['Documentaries'] %}

                                        <div class="movie-cards" style="color:white;"
                                             onclick="checkifexists(torrent_id={{movie['torrentId']}}, magnet_link='{{movie['magnetLink']}}')"
                                             data-bs-toggle="modal" data-bs-target="#index{{movie['torrentId']}}">
                                            {% if movie['thumbnail'] == None %}


                                            <div class="card-image thumb text-white"
                                                 style="background-image: url('{{movie['images'][0]}}'); background-size:contain;"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                                 title="{{movie['name']}}">

                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="card-bottom">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% else %}

                                            <div class="card-image" style="background-image: url('{{movie['thumbnail']}}')"
                                                 title="{{movie['name']}}"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                            >
                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-bottom" style="">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                        {% endfor %}


                                    </div>
                                    {% endif%}

                                    {% if this_user['movie_list']['Music'] %}

                                    <div class="container p-3">
                                        <h5 class="text-center related-content" style="position:inherit">Music</h5>


                                        {% for movie in this_user["movie_list"]['Music'] %}

                                        <div class="movie-cards" style="color:white;"
                                             onclick="checkifexists(torrent_id={{movie['torrentId']}}, magnet_link='{{movie['magnetLink']}}')"
                                             data-bs-toggle="modal" data-bs-target="#index{{movie['torrentId']}}">
                                            {% if movie['thumbnail'] == None %}


                                            <div class="card-image thumb text-white"
                                                 style="background-image: url('{{movie['images'][0]}}'); background-size:contain;"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                                 title="{{movie['name']}}">

                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="card-bottom">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% else %}

                                            <div class="card-image" style="background-image: url('{{movie['thumbnail']}}')"
                                                 title="{{movie['name']}}"
                                                 onerror="this.style.backgroundImage='{{url_for('static', filename='images/altimage.png')}}';"
                                            >
                                                <div class="head"
                                                     style="display: flex; align-items:center; justify-content:space-around; height:30px; background-color:#106079">
                                                    <div class="seeders" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/seeders.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['seeders']}}
                                                        </div>
                                                    </div>
                                                    <div class="size" style="display: flex; align-items:center">
                                                        <div>
                                                            <img src="{{url_for('static', filename= 'images/size.png')}}"
                                                                 height="15px" alt="Seeders"
                                                                 style="filter:invert(1)"
                                                                 srcset="">
                                                        </div>
                                                        <div style="font-size:13px; margin-left:4px">
                                                            {{movie['size']}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-bottom" style="">
                                                    {{movie['name']}}
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                        {% endfor %}


                                    </div>
                                    {% endif%}
                                {% else %}
                                <div class="container text-center">
                                    <h4>NO DATA</h4>
                                </div>
                                {% endif %}
                            {% endif %}

                            {% endfor %}



                        </div>

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}