{% extends 'skel.html' %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/user_login.css')}}">
{%- for category, message in get_flashed_messages(with_categories = true) %}
{%if category== 'error'%}
<div class="alert bg-danger alert-dismissible fade show text-white" role="alert" id="alert_danger">

    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert bg-info alert-dismissible fade show text-dark" role="alert" id="alert_success">

    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
<div class="login-container" style="background-image: url('{{url_for('static', filename='images/user_login_bg.jpg')}}');">

    <div class="login-box">
        <h1>Sign In</h1>

        <form action="{{url_for('user_login')}}" method="post">

            <input placeholder="Email" type="email" name="email" class="login-input" id="user_email" required>
            <input type="password" placeholder="Password" name="password" class="login-input" id="user_pass" required>
            <button class="login-button bg-danger" id="sign_in"
                    onclick="check_credentials()">
                Sign In


                <svg class="ms-2" id="sign_in_loader" style="filter:invert(1);" width="24" height="24"
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <style>
                        .spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}
                    </style>
                    <path class="spinner_0XTQ"
                          d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/>
                </svg>

            </button>

        </form>
        <div class="row mt-2">
            <div class="col justify-content-end">
                <span class="add-links"
                      onclick="location.href='{{url_for('account_recovery')}}'">Forgot Password?</span>
                <hr style="color:white; background:white">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #adadad">New to Torflix? <span style="font-size:bold; color:white; cursor:pointer"
                                                                onclick="location.href='{{url_for('register_user')}}'">Sign up now.</span>
                </p>
            </div>
        </div>
    </div>
</div>


{% block script %}
<script>
    spinner = $('#sign_in_loader').hide()
    function check_credentials(){
        user_email = $('#user_email').val();
        user_pass = $('#user_pass').val();



        if (!(user_email === "" || user_pass === "")){

            spinner.show();

        }

    }
</script>
{% endblock %}
{% endblock %}