{% extends 'skel.html' %}

{% block content %}


<link rel="stylesheet" href="{{url_for('static', filename='css/user_login.css')}}">
{%- for category, message in get_flashed_messages(with_categories = true) %}
{%if category== 'error'%}
<div class="alert bg-danger alert-dismissible fade show text-white" role="alert" id="alert_danger">

    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert bg-info alert-dismissible fade show text-dark" role="alert" id="alert_success">

    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
<div class="login-container" style="background-image: url('{{url_for('static', filename='images/user_login_bg.jpg')}}');">

    <div class="login-box">
        <h6 class="mb-3">A OTP (One Time Password) has been sent to '{{user}}'. Please enter the OTP to verify your
                        E-Mail.</h6>

        <form method="POST" action="{{url_for('verify_otp')}}">

            <input placeholder="Enter OTP" name="verify_otp" class="login-input" required>

            <button class="login-button">Verify OTP</button>
            <input type="text" value="{{user}}" name="user" hidden>
            <input type="text" value="{{role}}" name="role" hidden>
        </form>
        <div class="row mt-3">
            <div class="col">
                <p style="color:red; visibility:visible" id="valid_for">Valid for <span id="otp_timer"></span></p>
                <p style="color:red; visibility:hidden" id="otp_expired">OTP Expired*</p>

            </div>
            <div class="col d-flex justify-content-end">
                 <form method="POST" action="{{url_for('generate_new_otp')}}">
                    <button id="generate_new_otp" type="submit" style="cursor:pointer; border:none; background:transparent; color:#7b6565" disabled onclick="resend_otp()">Resend code.
                    <svg class="ms-2" id="sign_in_loader" style="filter:invert(1);" width="14" height="14"
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <style>
                        .spinner_0XTQ{transform-origin:center;animation:spinner_y6GP .75s linear infinite}@keyframes spinner_y6GP{100%{transform:rotate(360deg)}}
                    </style>
                    <path class="spinner_0XTQ"
                          d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"/>
                    </svg>
                    </button>
                     <input type="text" value="{{user}}" name="user" hidden>
                     <input type="text" value="{{role}}" name="role" hidden>

                 </form>
            </div>

        </div>
        <hr style="color:white; background:white">
        <div class="row mt-2">
            <div class="col">
                <p style="color: #adadad">Already have Account? <span style="font-size:bold; color:white; cursor:pointer"
                                                                onclick="location.href='{{url_for('user_login')}}'">Login Now.</span>
                </p>
            </div>
        </div>
    </div>
</div>







<script>
<!--    let timerOn = true;-->

<!--function timer(remaining) {-->
<!--  var m = Math.floor(remaining / 60);-->
<!--  var s = remaining % 60;-->

<!--  m = m < 10 ? '0' + m : m;-->
<!--  s = s < 10 ? '0' + s : s;-->
<!--  document.getElementById('timer').innerHTML = m + ':' + s;-->

<!--  remaining -= 1;-->

<!--  if(remaining >= 0 && timerOn) {-->
<!--    setTimeout(function() {-->
<!--        timer(remaining);-->
<!--    }, 1000);-->
<!--    return;-->
<!--  }-->

<!--  if(!timerOn) {-->
<!--    // Do validate stuff here-->
<!--    return;-->
<!--  }-->

<!--  // Do timeout stuff here-->
<!--  $('#generate_new_otp').prop('disabled', false);-->
<!--  $('#timer').css('display', 'none');-->
<!--}-->

<!--timer(30);-->




let otp_timerOn = true

function otp_timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;

  m = m < 10 ? '0' + m : m;
  s = s < 10 ? '0' + s : s;
  document.getElementById('otp_timer').innerHTML = m + ':' + s;
  remaining -= 1;

  if(remaining >= 0 && otp_timerOn) {
    setTimeout(function() {
        otp_timer(remaining);
    }, 1000);
    return;
  }

  if(!otp_timerOn) {
    // Do validate stuff here
    return;
  }

  // Do timeout stuff here
  $('#otp_timer').css('display', 'none');
  $('#valid_for').css('display', 'none');
  $('#otp_expired').css('visibility', 'visible');
<!--  $('#generate_new_otp').css({'color':'white'})-->
<!--  $('#generate_new_otp').prop('disabled', false);-->
}

otp_timer(300);



function show_loader(){
        document.getElementById("loader").style.visibility = "visible";

}

const enable_resend_btn = setTimeout(handle_resend_otp, 10000);


function handle_resend_otp(){
$('#generate_new_otp').css({'color':'white'})
$('#generate_new_otp').prop('disabled', false);
}



spinner = $('#sign_in_loader').hide();

function resend_otp(){
spinner.show();
}

</script>

{% endblock %}